<div class="fixed-bottom dark" style="background-color: #3E1425">
	<div class=" text-white px-0" style="margin-left: 10%; margin-right: 10%">
		<section class="d-flex justify-content-center justify-content-lg-between pt-4">

			<!-- Privacy Policy-->
			<div class="me-5 d-none d-md-block d-lg-block">
				<p style="font-size: 20px; font-family: Gravity Regular; margin-top: 12%;">Política de Privacidad</p>
			</div>

			<!-- Contact us-->
			<div class=" d-none d-md-block d-lg-block">
				<section>
					<p style="font-size: 20px; font-family: Gravity Regular;" align="center">Contáctanos</p>
				</section>
				<section class="d-flex justify-content-center justify-content-lg-between">
					<!-- Phone Number -->
					<div class="me-5 d-none d-lg-block d-md-block">
						<a href="tel:+52 722 222 0000" style="text-decoration-color: white;">
							<p style="color: white; font-size: 20px; font-family: Gravity Regular;">+52 722 222 0000</p>
						</a>
					</div>
					<!-- Email -->
					<div class="me-5 d-none d-lg-block d-md-block">
						<a href="mailto:shareplus@share.com" style="text-decoration-color: white;">
							<p style="color: white; font-size: 20px; font-family: Gravity Regular;">shareplus@share.com</p>
						</a>
					</div>
				</section>
			</div>

			<!-- Social Media-->
			<div>
				<a style="color: white" class="m-3" href="https://www.instagram.com/shareplus.2020/" target="_blank" role="button">
					<i class="fab fa-instagram-square fa-4x"></i></a>

				<!-- Facebook -->
				<a style="color: white" class="m-3" href="https://www.facebook.com/Share.plus2020" target="_blank" role="button"
				><i class="fab fa-facebook-square fa-4x"></i></a>

				<!-- Twitter -->
				<a style="color: white;" class="m-3" href="#!" role="button">
					<i class="fab fa-twitter-square fa-4x"></i>
				</a>
			</div>
			<!-- Instagram -->

		</section>
		<!--<p class="m-0 p-3">Copyright© 2022 - Share+ Website</p>-->
	</div>
</div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>

<!-- Font Awesome Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>