<!DOCTYPE html>
<html class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/acerca_nosotros.css" rel="stylesheet" type="text/css">
    <%- include('partials/head'); %>
<!-- lIBRERIA DE ICONOS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body class="h-100">

<%- include('partials/navbar'); %>

  <!--INFO-->
  <div class="bloque_acerca_nosotros">
    <div class="subloque_quehacemos">
        <div class="subloque_imagen_quehacemos">
            <img class="imagen_quehacemos" src="images/branding/rosas.jpeg" width="580px" alt="Imagen_Inicio">
        </div>
        
        <div class="subloque_texto_quehacemos">
            <h1>¿Qué hacemos?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
        </div>
        
    </div>
    
    <div class="subloque_objetivos">
        <h2>Objetivos</h2>
        <div class="subloque_tarjetas_objetivos">
            <div class="tarjeta_objetivo">
                <h3> Objetivo 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
            </div>
            <div class="tarjeta_objetivo">
                <h3> Objetivo 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
            </div>
            <div class="tarjeta_objetivo">
                <h3> Objetivo 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
            </div>
        </div>
    </div>
    <div class="subloque_quienes_somos">
        <div class="titulo_bloque_quienes_somos">¿Quiénes somos?</div>
        <div class="subloque_tarjetas_personas">
            <div class="tarjeta_persona">
                <p>Persona 1</p>
                <div class="subloque_imagen_quienes">
                    <img class="imagen_quienes_somos" src="images/branding/lobo.jpeg" alt="Imagen_Persona" >
                </div>
                <p>Nombre & info de la persona</p>
            </div>
            <div class="tarjeta_persona">
                <p>Persona 2</p>
                <div class="subloque_imagen_quienes">
                    <img class="imagen_quienes_somos" src="images/branding/lobo.jpeg" alt="Imagen_Persona" >
                </div>
                <p>Nombre & info de la persona</p>
            </div>
            <div class="tarjeta_persona">
                <p>Persona 3</p>
                <div class="subloque_imagen_quienes">
                    <img class="imagen_quienes_somos" src="images/branding/lobo.jpeg" alt="Imagen_Persona" >
                </div>
                <p>Nombre & info de la persona</p>
            </div>
            <div class="tarjeta_persona">
                <p>Persona 4</p>
                <div class="subloque_imagen_quienes">
                    <img class="imagen_quienes_somos" src="images/branding/lobo.jpeg" alt="Imagen_Persona" >
                </div>
                <p>Nombre & info de la persona</p>
            </div>

        </div>
    </div>

  </div>
    <%- include('partials/footer'); %>
  </body>
  </html>
