<!DOCTYPE html>
<html id = "website">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/share_style.css" rel="stylesheet" type="text/css">
  <%- include('partials/head'); %>
<!-- lIBRERIA DE ICONOS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('partials/navbar'); %>
  <!--INFO-->
  <div class="bloque_impacto content"> 
    <div class="subloque_impacto" >
      <h3> Niños Impactados</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
    </div>
    <div class="subloque_impacto">
      <h3> Niños Impactados</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
    </div>
    <div class="bloque_logros">
      <h2>Logros</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, maecenas egestas leo habitasse et quam porta massa. Egestas nunc risus nascetur dignissim vestibulum vitae suscipit magna. Arcu, aliquam nulla pharetra, et maecenas luctus aliquet id rhoncus. Auctor commodo leo dictumst quis velit aliquam urna nibh.</p>
    </div>
  </div>


  <%- include('partials/footer'); %>
  </body>
  </html>
